<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>{% block title %}CADASTRAMENTO UBS PINHO{% endblock %}</title>

    <!-- icone -->
    <link rel="shortcut icon" href="{% static 'home/img/logo.jpg' %}" type="image/jpg">

    <!-- Arquivos CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    {% block styles %}{% endblock %}
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="{% url 'home:index' %}" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pacienteDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Paciente</a>
                <div class="dropdown-menu" aria-labelledby="pacienteDropdown">
                    <a class="dropdown-item" href="{% url 'pacientes:consultar' %}" class="nav-link">Buscar
                        Pacientes</a>
                    <a class="dropdown-item" href="{% url 'pacientes:cadastro_paciente' %}" class="nav-link">Cadastrar
                        Pacientes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="familiaDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Família</a>
                <div class="dropdown-menu" aria-labelledby="familiaDropdown">
                    <a href="{% url 'pacientes:cadastro_familia' %}" class="nav-link">Cadastrar Família</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="agendamentoDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Agendamentos</a>
                <div class="dropdown-menu" aria-labelledby="familiaDropdown">
                    <a class="dropdown-item" href="{% url 'agendamento:index' %}" class="nav-link">Agendar</a>
                    <a class="dropdown-item" href="{% url 'agendamento:agendados' 'med' %}" class="nav-link">Agendados(Médico(a))</a>
                    <a class="dropdown-item" href="{% url 'agendamento:agendados' 'enf' %}" class="nav-link">Agendados(Enfermeiro(a))</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav float-right">
            <img alt="UBS PINHO" class="img-thumbnail mb-3" src="{% static 'home/img/logoposto.jpg' %}"
                 width=400>
        </ul>
    </div>
</nav>

{% block conteudo %}{% endblock %}

<script src="{% static 'home/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
