{% extends "layouts/base.html" %}
{% load static %}

{% block title %}UBS PINHO{% endblock %}

{% block conteudo %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-6 card">
            <div class="card-header">
                <h3 class="display-6">Cadastro de Pacientes</h3>
            </div>
            <div class="card-body">
                <fieldset class="col-lg">
                    <legend>Dados do Paciente</legend>
                    <label id="lb_erro" class="text-center alert alert-danger" style="display: none"></label>
                    <input id="sus_encontrado" type="checkbox" hidden>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="sus" class="input-group-text">SUS</label>
                                <input id="sus" name="sus" type="text" class="form-control"
                                       placeholder="999 9999 9999 9999">
                            </div>
                            <div class="input-group-prepend">
                                <label for="nome" class="input-group-text">NOME</label>
                                <input id="nome" name="nome" type="text" style="text-transform:uppercase"
                                       class="form-control" placeholder="Nome do paciente">
                            </div>
                            <div class="input-group-prepend">
                                <label for="mae" class="input-group-text">MÃE</label>
                                <input id="mae" name="mae" type="text" style="text-transform:uppercase"
                                       class="form-control" placeholder="Nome da mãe">
                            </div>
                            <div class="input-group-prepend">
                                <label for="nascimento" class="input-group-text">NASCIMENTO</label>
                                <input id="nascimento" name="nascimento" type="date" class="form-control">
                            </div>
                            <div class="input-group-prepend">
                                <label for="familia" class="input-group-text">Nº FAMILIA</label>
                                <input id="familia" name="familia" type="number" class="form-control"
                                       placeholder="Familia">
                            </div>
                            <div class="input-group-prepend">
                                <label for="observacao" class="input-group-text">OBSERVAÇÕES</label>
                                <input id="observacao" name="observacao" type="text" class="form-control"
                                       placeholder="Observação">
                            </div>
                        </div>
                        <div class="card-body" align="center">
                            <button id="botao" class="btn btn-primary" style="display: none"></button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'pacientes/js/cadastro.js' %}"></script>
{% endblock %}