{% extends "layouts/base.html" %}
{% load static %}

{% block title %}UBS PINHO{% endblock %}

{% block conteudo %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-6 card">
            <div class="card-header">
                <h3 class="display-6">Cadastro de Pacientes</h3>
            </div>
            <div class="card-body">
                <fieldset class="col-lg">
                    <legend>Dados do Paciente</legend>
                    {% if mensagem.sucesso|length > 0 %}
                    <label id="msg" class="text-center alert alert-success">{{mensagem.sucesso}}</label>
                    {% else %}
                    <label id="msg" class="text-center alert alert-danger" style="display: none"></label>
                    {% endif %}
                    <input id="encontrado" type="checkbox" hidden>
                    <form method="post">
                        {% csrf_token %}
                        <input type="number" name="chave" id="id_chave" hidden>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="id_sus" class="input-group-text">
                                    Sus</label>
                                <input type="text" name="sus" maxlength="18" class="form-control" id="id_sus">
                            </div>

                            <div class="input-group-prepend">
                                <label for="id_nome" class="input-group-text">
                                    Nome</label>
                                <input type="text" name="nome" maxlength="100" class="form-control" required
                                       id="id_nome">
                            </div>

                            <div class="input-group-prepend">
                                <label for="id_mae" class="input-group-text">
                                    Mae</label>
                                <input type="text" name="mae" maxlength="100" class="form-control" id="id_mae">
                            </div>

                            <div class="input-group-prepend">
                                <label for="id_nascimento" class="input-group-text">
                                    Nascimento</label>
                                <input type="date" name="nascimento" class="form-control" id="id_nascimento">
                            </div>

                            <div class="input-group-prepend">
                                <label for="id_familia" class="input-group-text">
                                    Familia</label>
                                <input type="number" name="familia" min="0" class="form-control" id="id_familia" required>
                            </div>

                            <div class="input-group-prepend">
                                <label for="id_observacao" class="input-group-text">
                                    Observacao</label>
                                <textarea name="observacao" cols="40" rows="10" maxlength="255" class="form-control"
                                          id="id_observacao"></textarea>
                            </div>
                        </div>
                        <div class="card-body" align="center">
                            <button id="botao" class="btn btn-primary" style="display: none"></button>
                            <button id="reset" type="reset" class="btn btn-primary" style="display: none">LIMPAR</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'pacientes/js/cadastro_paciente.js' %}"></script>
{% endblock %}