{% extends "caixa/_layouts/base.html" %}
{% load widget_tweaks %}
{% block title %}Movimentações Financeiras{% endblock %}

{% block conteudo %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <em><b>Relatórios de dias anteriores:  </b></em>
                        <a href="{% url 'caixa:relatorio' %}" class="btn btn-primary">Relatórios</a>
                    </div>
                    <h5 class="card-title">Realizar Movimentação Financeira</h5>
                    <p class="card-text">
                        Complete o formulário abaixo para inserir uma nova <code>Movimentação</code>.
                    </p>
                    <form method="post">
                        <!-- Não se esqueça dessa tag -->
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">Descrição</th>
                                    <th class="text-center" scope="col">Valor</th>
                                    <th class="text-center" scope="col">Tipo</th>
                                    <th class="text-center" scope="col">Ação</th>
                                </tr>
                                </thead>
                                <tr>
                                    <th>{% render_field form.descricao style="text-transform:uppercase" class+="form-control" %}</th>
                                    <th>{% render_field form.valor class+="form-control" %}</th>
                                    <th>{% render_field form.tipo class+="form-control" %}</th>
                                    <th class="text-center"><button class="btn btn-primary">Inserir</button></th>
                                </tr>
                            </table>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Lista de Movimentações do dia</h5>
                                        {% if movimentacoes|length > 0 %}
                                        <table class="table">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Descrição</th>
                                                <th scope="col">Entrada</th>
                                                <th scope="col">Saída</th>
                                                <th scope="col">Hora</th>
                                                <th scope="col" class="text-center">Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for movimentacao in movimentacoes %}
                                            <tr>
                                                {% if movimentacao.tipo %}
                                                <td><font color="blue">{{ movimentacao.descricao }}</font></td>
                                                <td><font color="blue">R$ {{ movimentacao.valor }}</font></td>
                                                <td></td>
                                                {% else %}
                                                <td><font	color="red">{{ movimentacao.descricao }} </font></td>
                                                <td></td>
                                                <td><font	color="red">R$ {{ movimentacao.valor }} </font></td>
                                                {%endif%}
                                                <td>{{ movimentacao.data|date:'H:i' }}</td>
                                                <td class="text-center">
                                                    <a href="{% url 'caixa:editar_movimentacao' pk=movimentacao.id %}"
                                                       class="btn btn-primary">
                                                        Atualizar
                                                    </a>
                                                    <a href="{% url 'caixa:apagar_movimentacao' pk=movimentacao.id %}"
                                                       class="btn btn-danger">
                                                        Excluir
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                        {% else %}
                                        <div class="text-center mt-5 mb-5 jumbotron">
                                            <h5>Nenhuma <code>Movimentação</code> inserida ainda.</h5>
                                        </div>
                                        {% endif %}
                                        <hr />
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="card-body">

                                                    <table>
                                                        <tr>
                                                            <td>Entradas: </td>
                                                            <td class="form-control">R$  {{entradas}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Saídas: </td>
                                                            <td class="form-control">R$  {{saidas}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>SALDO: </td>
                                                            <td class="form-control">R$  {{total}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="text-right">
                                            <a href="{% url 'caixa:index' %}" class="btn btn-outline-danger">
                                                Voltar
                                            </a>
                                            <a  class="btn btn-primary">
                                                Gerar PDF
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">

</div>
{% endblock %}