{% extends "layouts/base.html" %}
{% load static %}

{% block title %}UBS PINHO{% endblock %}

{% block conteudo %}
<div class="container mt-5 justify-content-md-center">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">Buscar Pacientes</h6>
        </div>
        <div class="card-body">
            <form id="form_pesquisa" method="get">
                <div class="row">
                    <div class="col-md-4">
                        <label id="lb_tipo" for="tipo">Buscar por:</label>
                    </div>
                    <div id="div_lb_dado" class="col-md-4">
                        <label id="lb_dado" for="dado"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <select id="tipo" name="tipo" class="form-control" autofocus required>
                            <option value="">--------</option>
                            <option value="sus">SUS</option>
                            <option value="nome">Nome do paciente</option>
                            <option value="mae">Nome da mãe</option>
                            <option value="nascimento">Data de nascimento</option>
                            <option value="familia">Número de família</option>
                        </select>
                    </div>
                    <div id="div_dado" class="col-md-4">
                        <input class="form-control" id="dado" name="dado" required="required">
                    </div>
                    <div id="div_botao" class="col-md-4">
                        <button id="botao" class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if pacientes is not empty%}
    <div class="card mt-5">
        <div class="card-header">
            <h5 class="card-title">Pacientes</h5>
        </div>
        {% if pacientes|length > 0 %}
        <div class="card-body">
            {% if paginado %}
            <div class="d-flex justify-content-between">
                {% if pacientes.has_previous %}
                <a href="?pagina={{pacientes.previous_page_number}}"><< anterior</a>
                {% else %}
                <a name="pagina"><< anterior</a>
                {% endif %}
                <label>página {{ pacientes.number }} de {{ pacientes.paginator.num_pages }}</label>
                {% if pacientes.has_next %}
                <a href="?pagina={{pacientes.next_page_number}}">proxima >></a>
                {% else %}
                <a>proxima >></a>
                {% endif %}
            </div>
            {% endif %}
            <table id="tabela" class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Sus</th>
                    <th>Mãe</th>
                    <th>Nascimento</th>
                    <th>Família</th>
                    <th>Observação</th>
                </tr>
                </thead>
                <tbody id="corpoTabela">
                {% for paciente in pacientes %}
                <tr>
                    <th>{{paciente.nome|title}}</th>
                    <th>{{paciente.sus|default:''}}</th>
                    <th>{{paciente.mae|title|default:''}}</th>
                    <th>{{paciente.nascimento|default:''|date:'d/m/Y'}}</th>
                    <th>{{paciente.familia|default:''}}</th>
                    <th>{{paciente.observação|default:''}}</th>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        {% else %}
        <h5>Nenhum paciente encontrado.</h5>
        {% endif %}
        {% if paginado %}
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                {% if pacientes.has_previous %}
                <a href="?pagina={{pacientes.previous_page_number}}"><< anterior</a>
                {% else %}
                <a name="pagina"><< anterior</a>
                {% endif %}
                <label>página {{ pacientes.number }} de {{ pacientes.paginator.num_pages }}</label>
                {% if pacientes.has_next %}
                <a href="?pagina={{pacientes.next_page_number}}">proxima >></a>
                {% else %}
                <a>proxima >></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'pacientes/js/consultar.js' %}"></script>
{% endblock %}