<!-- Estendemos do template base -->
{% extends "pacientes/_layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}UBS PINHO{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container mt-5" >
    <div class="row">
        <div class="col-lg-9" align="center">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Buscar Pacientes</h5>
                </div>
                <div class="card-body">
                        <form id="pesquisa" name="pesquisa" method="get">
                            <div class="input-group">
                                <div class="input-group-prepend col-lg-9">
                                    <select id="tipo" name="tipo" class="form-control col-lg-3" onchange="inputTipo(this.value)" autofocus required>
                                        <option disabled selected>---</option>
                                        <option value="sus">Sus</option>
                                        <option value="nome">Nome</option>
                                        <option value="mae">Mãe</option>
                                        <option value="nascimento">Nascimento</option>
                                        <option value="familia">Família</option>
                                    </select>
                                    <input id="dado" type="number" min="100000000000000" max="999999999999999" name="dado" class="form-control col-lg-9" required>
                                </div>
                                <div>
                                    <button class="btn btn-primary">Pesquisar</button>
                                    <a id="todos" href="#" type="button" class="btn btn-primary" onclick="tabelaTodos()">Todos</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" >
    <div class="row">
        <div class="col-lg-12" align="center">                
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pacientes</h5>
                </div>
                <div class="card-body">
                    <table id="tabela" name="tabela" class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nome</th>
                                <th>Sus</th>
                                <th>Mae</th>
                                <th>Nascimento</th>
                                <th>Familia</th>
                                <th>Observação</th>
                            </tr>
                        </thead>
                        <tbody id="corpoTabela">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
