{% extends "caixa/_layouts/base.html" %}
{% load widget_tweaks %}

{% block title %}Relatórios{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Relatório de Movimentações</h5>
                            <form action="{% url 'caixa:relatorio' %}" method="get">
                                <!-- Não se esqueça dessa tag -->
                                {% csrf_token %}
                                <div class="input-group date" data-target-input="nearest">
                                    <label  for="data">Data: </label>
                                    <input id="data" name="data" type="date">
                                    <button type="submit" class="btn btn-primary">
                                        Gerar Relatório
                                    </button>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">Lista de Movimentações</h5>
                                                <h6 class="card-title">Data: {{data_relatorio}}</h6>
                                                {% if movimentacoes|length > 0 %}
                                                <table class="table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col">Descrição</th>
                                                        <th scope="col">Entrada</th>
                                                        <th scope="col">Saída</th>
                                                        <th scope="col">Hora</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for movimentacao in movimentacoes %}
                                                    <tr>
                                                        {% if movimentacao.tipo %}
                                                        <td><font color="blue">{{ movimentacao.descricao }}</font></td>
                                                        <td><font color="blue">{{ movimentacao.valor }}</font></td>
                                                        <td></td>
                                                        {% else %}
                                                        <td><font	color="red">{{ movimentacao.descricao }} </font></td>
                                                        <td></td>
                                                        <td><font	color="red">{{ movimentacao.valor }} </font></td>
                                                        {%endif%}
                                                        <td>{{  movimentacao.data|date:'H:i' }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                 <hr />
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <table>
                                                                <tr>
                                                                    <td class="text-right">Entradas: </td>
                                                                    <td class="form-control">{{entradas}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-right">Saídas: </td>
                                                                    <td class="form-control">{{saidas}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-right">Saldo TOTAL: </td>
                                                                    <td class="form-control">{{total}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="text-center mt-5 mb-5 jumbotron">
                                                    <h5>Nenhuma <code>Movimentação</code> cadastrada nesta data.</h5>
                                                </div>
                                                {% endif %}

                                                <hr />
                                                <div class="text-right">
                                                    <a href="{% url 'caixa:caixa' %}" class="btn btn-outline-danger">
                                                        Voltar
                                                    </a>
                                                    <a  class="btn btn-primary">
                                                        Gerar PDF
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}