<div class="container mt-5">
    <div class="row">
        <div class="card container-fluid">
            <div class="card-header">
                <h5 class="card-title">Pacientes</h5>
            </div>
            {% if pacientes == None %}
            <div class="card-body">
                <table id="tabela" class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Sus</th>
                        <th>Mae</th>
                        <th>Nascimento</th>
                        <th>Familia</th>
                        <th>Observação</th>
                    </tr>
                    </thead>
                    <tbody id="corpoTabela">
                    {% for paciente in pacientes %}
                    <tr>
                        <th>{{paciente.nome}}</th>
                        <th>{{paciente.sus|default:''}}</th>
                        <th>{{paciente.mae|default:''}}</th>
                        <th>{{paciente.nascimento|default:''|date:'d/m/Y'}}</th>
                        <th>{{paciente.familia|default:''}}</th>
                        <th>{{paciente.observação|default:''}}</th>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h5>Nenhum paciente encontrado.</h5>
            {% endif %}
        </div>
    </div>
</div>














